body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it stretches full screen */
    margin: 0;
}

.centerMain {
    flex: 1; 
}

.topPage, 
.bottom {
    flex-shrink: 0; /* Don't shrink header/footer */
}


.mainTitle {
    color: white;
}

.topHeader {
    font-size: 50px;
    height: 100px;
    margin: auto;
    background-color:#222831;
    padding: 60px;
    text-align: left;
    display: grid;
    grid-template-rows: 100px 100px;
    justify-content: space-evenly;
}

.featuredButton {
    justify-self: center;
}

.img {
    height: 10;
    width: 10;
}

.card1 {
    align-items: center;
    background: #5C7285;
    color: hsl(0, 0%, 0%);
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    border: 1px solid hsl(0, 0%, 0%);
    float: left;
}

.song-info {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-part {
    display:flow-root;
}

.song-image {
    width: 300px;
    object-fit: contain;
}

.song-name {
    font-size: 20px;
}

.singer-name {
    font-size: 15px; 
    margin: 10px 0 ;
    justify-content: space-between;
}


.bottom {
    background-color:#222831;
    padding: 60px;
    height: 10px;
}

.row1 {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    padding: 20px;
    gap: 50px;
}

.middle-part {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    height: 20px;
    width: 50px;
    justify-content: space-evenly;
}

.playlist {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px; 
  column-gap: 10px;
  row-gap: 15px;
  background: #393E46;
}


button {
    background-color: hsl(238, 48%, 33%);
    font-family: Rubik, sans-serif;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #C1BADE;
    color: black;
}


/* MODAL LAYOUT */
/* CSS for Modal */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   border-radius: 12px;
}

.modal-content {
   background-color: lch(98.27% 0.01 296.81);
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

.imageModal1 img,
.imageModal2 img,
.imageModal3 img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 5px 0 0 5px;
}

.top-modal {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 40px 40px 0px 60px;
}

.artistLineup1, 
.artistLineup2, 
.artistLineup3 {
    display: flex;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    border: 1px solid black;
}

.leftPartSong1, 
.leftPartSong2, 
.leftPartSong3 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.songDuration {
    display: flex;
    margin-right: 20px;
}

.bellow {
    padding: 40px;
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.song-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.featuredHeader {
    text-align: center;
    padding: 20px 0 0 0;
}

.featuredHeader, 
.featuredFooter {
    height: 150px;
    background: grey;
}

.featuredPageBody {
    background: hwb(0 31% 69%);
    justify-content: space-between;
}

.featureSide1 {
    width: 450px;
    height: 480px;
    margin: 10px;
    align-content: center;
    justify-self: center;
    text-align: center;
}

.featureSide2 {
    width: 300px;
    height: 480px;
    margin: 10px;
    align-content: center;
    justify-self: center;
}

.featuredPage {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    justify-self: center;
    background: hsl(18, 68%, 45%);
    border-radius: 12px;
}

.imageFeaturedPage {
    width: 430px;
    height: 400px;
}

.imageFeature {
     width: 450px;
    height: 400px;
}

.featuredSong {
    width: 300px;
    height: 150px;
    border: solid black;
    border-radius: 12px;
}
